## Python

*.pyc
__pycache__

## TypeScript
/frontend/node_modules
/frontend/.pnp
.pnp.js

/coverage

/build



## Environment
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
