body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100vh;
}
.login-grid-image {
  border: 1px;
  flex: 3;
}
.login-grid-image img {
  width: 75vh;
}
.login-grid-menu {
  border: 1px;
  padding: 10px;
  flex: 1;
}

.dashboard {
  background-color: black;
  color: bisque;
}
.dashboard-top {
  align-items: center;
}
.dashboard-content {
  align-items: center;
}
.dashboard-footer {
  align-items: center;
}